@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'WitchFont'; 
  src: url(/fonts/ArtOfIlluminating.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',                            'embedded-opentype', and 'svg' */
}

/* 
.wtest {
  font-family: WitchFont;
} */

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
